{% extends 'base.html' %}

{% block extracss %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}2015/css/0.home.css"/>
{% endblock %}

{% block extrajs %}
  <script type="text/javascript" src="{{ STATIC_URL }}2015/js/0.home.js"></script>
{% endblock %}


{% block body %}
  <header>
    <section id="artists" class="caps noie">
      <p class="tcenter caviar">DUO ANNE-LAURE PIGACHE ET PASCAL THOLLET / AUTRENOIR / ROMAIN DE FERRON / TANZ MEIN HERZ
        / WATT / XAVIER CHARLES / YANNIS FRIER</p>
    </section>
  </header>

  <section id="photo">
    <a href="/echos/presentation/">
      <img src="{{ STATIC_URL }}2015/img/1.home/home.jpg"/>
    </a>
  </section>
{% endblock %}