{% extends 'base.html' %}

{% block extracss %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}2015/css/0.home.css"/>
{% endblock %}


{% block body %}
  <header>
    <section id="artists" class="caps noie">
      <p class="tcenter caviar">FRANCE / JOOKLO DUO / LIONEL MARCHETTI / LOÏC VERDILLON / MR MARCAILLE / MICHEL DONEDA
      / PETIT BONHOMME / PALI MEURSAULT / PATRICIA BOSSHARD / SALSA / LE VERDOUBLE</p>
    </section>
  </header>

  <section id="photo">
    <a href="/echos/presentation/">
      <img src="{{ STATIC_URL }}2015/img/1.home/home.jpg"/>
    </a>
  </section>
  <div>
    <a href="http://festivalechos.fr/echos/presentation/">FR</a> –
    <a href="http://en.festivalechos.fr/echos/presentation/">EN</a>
  </div>
{% endblock %}