{% extends 'layout.html' %}

{% block content %}
    <p class="tcenter">
        L'évenement <mark>échos</mark> se déroule sur le site de la Ferme du Faï, sur les hauteurs du
        village du Saix
        (<a target="_blank" href="https://maps.google.fr/maps?oe=utf-8&client=firefox-a&q=le+saix&ie=UTF-8&hq=&hnear=0x12cb1bc3670710d3:0x40819a5fd97a190,Le+Saix&gl=fr&ei=bRBHUafdGdCh7AaN6oFo&ved=0CKgBELYD">localiser</a>),
        dans le département des Hautes-Alpes.
    </p><br>
    <p>
        <img class="col85" src="{{ STATIC_URL }}img/5.acces/1.png" />
    </p><br>
    <h2>Comment venir ?</h2><br>
    <p>
        Pour se rendre au festival, la première étape sera de <mark>vous rendre au village du Saix</mark>
        (<a target="_blank" href="https://maps.google.fr/maps?oe=utf-8&client=firefox-a&q=le+saix&ie=UTF-8&hq=&hnear=0x12cb1bc3670710d3:0x40819a5fd97a190,Le+Saix&gl=fr&ei=bRBHUafdGdCh7AaN6oFo&ved=0CKgBELYD">localiser</a>).
    </p><br>
    <p>
        Plusieurs possibilités s'offrent à vous pour aller au Saix :
    </p><br>
    <h3>En voiture</h3>
    <p>
        De Lyon (<a target="_blank" href="https://maps.google.fr/maps?saddr=Lyon&daddr=Croix+du+P%C3%A8re%2FD49&hl=fr&ie=UTF8&ll=45.135555,5.328369&spn=2.611788,6.696167&sll=44.836395,5.960083&sspn=2.625449,6.696167&geocode=FctNugIdS8lJACmXh-hqUer0RzHwIbvkKqsIBA%3BFXKmpgIdP8BYAA&mra=ls&t=m&z=8">via Grenoble</a>) : 220 km<br>
        De Marseille (<a target="_blank" href="https://maps.google.fr/maps?saddr=Marseille&daddr=44.4760184,5.8163833+to:Croix+du+P%C3%A8re%2FD49&hl=fr&ie=UTF8&ll=44.257003,5.921631&spn=1.325856,3.348083&sll=44.29535,5.93399&sspn=0.662496,1.674042&geocode=FeKmlAIdtO9RACkzU9pEQ7_JEjEgApf9pRkIBA%3BFXKmpgIdP8BYACn9H4eN_xvLEjFJsFVhKIny6Q%3BFXKmpgIdP8BYAA&mra=ls&via=1&t=m&z=9">via Sisteron</a>) : 180 km<br>
        De Valence (<a target="_blank" href="https://maps.google.fr/maps?saddr=Valence&daddr=Croix+du+P%C3%A8re%2FD49&hl=fr&ie=UTF8&ll=44.426915,5.781555&spn=0.66101,1.674042&sll=44.836395,5.960083&sspn=2.625449,6.696167&geocode=FRGhrQIdyKZKACnHITLGmVf1RzGAtb_kKqsIBA%3BFXKmpgIdP8BYAA&oq=Valence&mra=ls&t=m&z=10">via Die</a>) : 140 km<br>
        De Gap (<a target="_blank" href="https://maps.google.fr/maps?saddr=Gap&daddr=44.4761754,5.8223788+to:Croix+du+P%C3%A8re%2FD49&hl=fr&ie=UTF8&ll=44.477814,5.821939&spn=0.010319,0.026157&sll=44.475962,5.826037&sspn=0.01032,0.026157&geocode=FRbtpwIdDsVcACnVE6LYeD_LEjFgp5f9pRkIBA%3BFQ-npgIdqtdYACl_zqd0_RvLEjE4HcstNJxqsw%3BFXKmpgIdP8BYAA&mra=dpe&mrsp=1&sz=16&via=1&t=m&z=16">via Veynes</a>) : 34 km
    </p><br>
    <p>
        <mark>Se garer au lieu prévu à cet effet</mark>, sur la D49, à l’entrée du village du Saix. Le trajet sera fléché jusqu’au parking.
    </p><br>
    <h3>En train</h3>
    <p>
        <mark>Vous pouvez aller jusqu'à Veynes en train</mark>, la ville la plus proche du Saix.
    </p><br>
    <p>
        Depuis Grenoble (<a target="_blank" href="http://telechargement.ter-sncf.com/Images/Rhone_Alpes/Tridion/63aff_tcm-31-19847.pdf">horaires ter</a>)<br>
        Depuis Gap (<a target="_blank" href="http://telechargement.ter-sncf.com/Images/Rhone_Alpes/Tridion/63aff_tcm-31-19847.pdf">horaires ter</a>)<br>
        Depuis Marseille (<a target="_blank" href="http://telechargement.ter-sncf.com/Images/Paca/Tridion/fiche_13_2013_tcm-27-81567.pdf">horaires ter</a>)
    </p><br>
    <p>
        Une fois à Veynes, rejoindre le village du Saix en stop, deltaplane ou covoiturage (page dédiée à venir).
    </p><br>
    <h3>Covoiturage</h3>
    <p>
        Vous avez des places disponibles dans votre véhicule ?<br>
        Vous souhaitez profiter d’une voiture qui va au festival ?
    </p><br>
    <p>
        <mark><a target="_blank" href="http://agenda.covoiturage.fr//concert/12672-echos-2013">Rendez-vous sur notre page dédiée</a></mark>, pour mettre en relation les covoitureurs.
    </p><br>
    <p>
        Plus d’infos à venir !
    </p>
    <h2>L'accès au concert</h2><br>
    <p>
        <mark>Une fois arrivé au village du Saix</mark>,
        <a target="_blank" href="https://maps.google.fr/maps?saddr=Croix+du+P%C3%A8re%2FD49&daddr=Le+Fai%2FD249T&hl=fr&ie=UTF8&sll=44.46803,5.829148&sspn=0.020642,0.052314&geocode=FXKmpgIdP8BYAA%3BFZdqpgId2vVYAA&t=h&dirflg=w&mra=dme&mrsp=1&sz=15&z=15">rejoignez le festival à pieds en suivant le parcours fléché</a> !<br>
        Cette demi-heure de marche (traversée du village puis montée dans les gorges) sera ponctuée par
        des installations sonores à partir de votre entrée dans les gorges.
        Un bon moyen de vous mettre dans l’ambiance.
    </p><br>
    <p>
        Pour les moins courageux, une navette sera mise en place par nos soins du parking jusqu’à
        l’entrée dans les gorges, <mark>toutes les 30 minutes de 17h à 19h30</mark>.
    </p><br>
    <p>
        <em>Attention, le nombre de place dans la navette étant très limité, il est important de vous signaler
            au point de départ de la navette, pour que nous organisions les rotations plus facilement.</em>
    </p><br>
    <p>
        Prévoyez des vêtements chauds et des lampes-torche, au cas où vous voudriez redescendre des gorges à la nuit tombée.
    </p><br>

    <p class="air sbreak">
        <mark>Pour les personnes à mobilité réduite</mark>, afin de mieux organiser votre accueil sur le festival,
        merci de nous contacter au préalable au 06 59 60 84 93
    </p>
{% endblock %}