{% extends "layout.html" %}

{% block content %}
  {% if lang == 'fr' %}
    <p class="air">
      Oui, oui, ça arrive
    </p>
  {% else %}
    <p class="air">
      Yo chill out, it's coming
    </p>
  {% endif %}
{#  <p class="box break">#}
{#    <mark>C'est terminé pour les préventes !</mark> Pas d'inquiétude ceci-dit, il y a de la place pour tout le monde,#}
{#    paiement possible en espèce ou par chèque à l'entrée de la vallée. À ce soir !#}
{#  </p>#}
{#  {% include "parts/paypal.html" %}#}
{#  <div class="tarifs">#}
{#    <h3>TARIF "COSTANZA" : 12€</h3>#}
{#    <p class="break">#}
{#      - 1 adhésion à l'asso Dôme pour 1 an<br>#}
{#      - 1 entrée pour Échos<br>#}
{#    </p>#}
{##}
{#    <h3>TARIF "KRUGER" : 15€</h3>#}
{#    <p class="break">#}
{#      - 1 adhésion à l'asso Dôme pour 1 an<br>#}
{#      - 1 entrée pour Échos<br>#}
{#      - 1 carte d'adhérent stylée<br>#}
{#    </p>#}
{##}
{#    <h3>TARIF "BOZARDEUX" : 25€</h3>#}
{#    <p class="break">#}
{#      - 1 adhésion à l'asso Dôme pour 1 an<br>#}
{#      - 1 entrée pour Échos<br>#}
{#      - 1 carte d'adhérent stylée<br>#}
{#      - 1 affiche sérigraphiée numérotée sortie en édition limitée<br>#}
{#    </p>#}
{##}
{#    <h3>TARIF "SAIX ADDICT" : 30€</h3>#}
{#    <p class="break">#}
{#      - 1 adhésion à l'asso Dôme pour 1 an<br>#}
{#      - 1 entrée pour Échos<br>#}
{#      - 1 carte d'adhérent stylée<br>#}
{#      - 1 affiche sérigraphiée numérotée sortie en édition limitée<br>#}
{#      - 1 K7 infinie réalisée pour l'occasion par l’asso, numérotée<br>#}
{#    </p>#}
{##}
{#    <h3>TARIF "BIG V" : 60€</h3>#}
{#    <p class="break">#}
{#      - 2 adhésions à l'asso Dôme pour 1 an<br>#}
{#      - 2 entrées pour Échos<br>#}
{#      - 2 cartes d'adhérent stylées<br>#}
{#      - 2 affiches sérigraphiées numérotées sorties en édition limitée<br>#}
{#      - 2 K7 infinies réalisées pour l'occasion par l’asso, numérotées<br>#}
{#      - 2 petit-déjeuners à la Ferme du Faï le dimanche matin et le lundi matin<br>#}
{#    </p>#}
{#    {% include "parts/paypal.html" %}#}
{#  </div>#}
{% endblock %}
