{% extends "layout.html" %}

{% block content %}
    <p class="tcenter">L’événement coûte <mark>7€ en prévente, 10€ sur place</mark>.</p><br>

    <p class="tcenter">C'est termine pour les preventes ! Si vous en etes deja muni, aucun justificatif autre que votre nom et prenom n'est a fournir une fois sur place</p><br>

    <p class="tcenter sbreak"><em>Les cartes d’adhérent, K7 et bières vous seront également remis le jour du concert,
        à votre entrée, sur présentation de vos nom et prénom.</em></p>
{% endblock %}
