{% extends "layout.html" %}

{% block extracss %}
  {{ block.super }}
  <link href="{{ STATIC_URL }}2015/js/lib/fancybox/jquery.fancybox.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block extrajs %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}2015/js/lib/fancybox/jdidbox.v0.1.pack.js"></script>
{% endblock %}

{% block content %}
  {% if lang == "fr" %}
    <p class="sair">
      L’évènement <em>échos</em> se déroule autour de la ferme-gîte du Faï, à plus de 1000 mètres d’altitude.
      Au-dessus du <a target="_blank" href="http://www.le-saix-village.fr/">village du Saix</a>, le site est un lieu
      ouvert, niché au pied de la falaise et de la montagne d’Aujour, que vous serez libres d’arpenter tout au long du
      festival.
    </p>
    <p class="sair">
      Vous découvrirez un grand environnement sauvage, qui entoure le gîte, son esplanade, et ses
      <a href="/lieu/trompes/">trompes</a>. Vous pourrez vous baigner dans la rivière, située à deux pas de la ferme,
      ou profiter des nombreux itinéraires de balade et de randonnée, sur le chemin de l’abbaye de Clausonne ou du
      lac de Peyssier.
    </p>
  {% else %}
    <p class="sair">
      <em>échos</em> takes place in the surroundings of Le Faï farm, at over 1000m. Above a village named
      <a target="_blank" href="http://www.le-saix-village.fr/">Le Saix</a>, the location is an open space between
      the cliff and the Aujour mountain, a space that you will be free to explore during the festival.
    </p>
    <p class="sair">
      You will discover a large, open and natural environment that surrounds the farm, its esplanade and
      <a href="/lieu/trompes/">the horns</a>. You will be able to swim in the river next to the farm, or enjoy the
      numerous walking trails that lead to the abbey of Clausonne or the lake of Peyssier.
    </p>
  {% endif %}
  <div class="air break gallery box">
    <a rel="ferme" data-boxtitle="{% if lang == 'fr' %}Le site de la ferme du Faï vu du ciel{% else %}Le Faï farm from above{% endif %}"
       href="{{ STATIC_URL }}2015/img/7.ferme/1.jpg">
      <img src="{{ STATIC_URL }}2015/img/7.ferme/thumb/1.jpg">
    </a>
    <a rel="ferme" data-boxtitle="Copyright <em>As Human Pattern</em>"
       href="{{ STATIC_URL }}2015/img/7.ferme/2.jpg">
      <img src="{{ STATIC_URL }}2015/img/7.ferme/thumb/2.jpg">
    </a>
    <a rel="ferme" data-boxtitle="Copyright <em>As Human Pattern</em>"
       href="{{ STATIC_URL }}2015/img/7.ferme/3.jpg">
      <img src="{{ STATIC_URL }}2015/img/7.ferme/thumb/3.jpg">
    </a>
    <a rel="ferme" data-boxtitle="Copyright <em>Pauline Massé</em>"
       href="{{ STATIC_URL }}2015/img/7.ferme/4.jpg">
      <img src="{{ STATIC_URL }}2015/img/7.ferme/thumb/4.jpg">
    </a>
    <a rel="ferme" data-boxtitle="Copyright <em>Pauline Massé</em>"
       href="{{ STATIC_URL }}2015/img/7.ferme/5.jpg">
      <img src="{{ STATIC_URL }}2015/img/7.ferme/thumb/5.jpg">
    </a>
    <a rel="ferme" data-boxtitle="Copyright <em>Pauline Massé</em>"
       href="{{ STATIC_URL }}2015/img/7.ferme/6.jpg">
      <img src="{{ STATIC_URL }}2015/img/7.ferme/thumb/6.jpg">
    </a>
    <a rel="ferme"
       href="{{ STATIC_URL }}2015/img/7.ferme/7.jpg">
      <img src="{{ STATIC_URL }}2015/img/7.ferme/thumb/7.jpg">
    </a>
    <a rel="ferme" data-boxtitle="Copyrigth <em>Ewa Sad</em>"
       href="{{ STATIC_URL }}2015/img/7.ferme/8.jpg">
      <img src="{{ STATIC_URL }}2015/img/7.ferme/thumb/8.jpg">
    </a>
    <a rel="ferme" data-boxtitle="Copyright <em>As Human Pattern</em>"
       href="{{ STATIC_URL }}2015/img/7.ferme/9.jpg">
      <img src="{{ STATIC_URL }}2015/img/7.ferme/thumb/9.jpg">
    </a>
    <a rel="ferme" data-boxtitle="Copyright <em>Paul Régimbeau</em>"
       href="{{ STATIC_URL }}2015/img/7.ferme/10.jpg">
      <img src="{{ STATIC_URL }}2015/img/7.ferme/thumb/10.jpg">
    </a>
    <a rel="ferme" data-boxtitle="Copyrigth <em>Pauline Massé</em>"
       href="{{ STATIC_URL }}2015/img/7.ferme/11.jpg">
      <img src="{{ STATIC_URL }}2015/img/7.ferme/thumb/11.jpg">
    </a>
    <a rel="ferme" data-boxtitle="Copyrigth <em>Pauline Massé</em>"
       href="{{ STATIC_URL }}2015/img/7.ferme/12.jpg">
      <img src="{{ STATIC_URL }}2015/img/7.ferme/thumb/12.jpg">
    </a>
  </div>
  {% if lang == 'fr' %}
    <p class="sair">
      Grâce à l’association <a target="_blank" href="http://villagesdesjeunes.org/">Villages des Jeunes</a>, la Ferme du Faï est devenue
      un lieu d'accueil alternatif et dynamique dont les principales activités sont réparties en trois domaines :
    </p>
    <p class="sair">
      <mark>La rénovation, l'entretien et le développement de la ferme</mark> ainsi que de l'abbaye de Clausonne située à proximité.
      L’association pilote des chantiers de jeunes internationaux, dans le cadre de programmes d'échange basés sur le
      volontariat.
    </p>
    <p class="sair">
      <mark>L'accueil et l'accompagnement de personnes en situation difficile et/ou handicapées</mark>, par le biais de chantiers de
      réinsertion ou de séjours à vocation sociale.
    </p>
    <p class="sair sbreak">
      <mark>La valorisation d'activités culturelles</mark>, en accueillant plusieurs événements artistiques, résidences et festivals
      chaque année ; <em>échos</em> bénéficie à ce titre d'un soutien tout particulier des responsables locaux sans qui rien
      n’aurait été possible.
    </p>
  {% else %}
    <p class="sair">
      With the help of the association <a target="_blank" href="http://villagesdesjeunes.org/">Villages des Jeunes</a>,
      <em>Le Faï farm</em> has become an alternative and dynamic venue working towards three main goals:
    </p>
    <p class="sair">
      <mark>The renovation, maintenance, and development of the farm</mark> and the Clausonne's abbey.
      The association organizes workshops with international youth, within exchange programs;
    </p>
    <p class="sair">
      <mark>The help and assistance of people in problematic situations or with disabilities</mark>
      through rehabilitation workshops and socially-oriented residency;
    </p>
    <p class="sair sbreak">
      <mark>The development of cultural activities</mark>
      by hosting artistic events, residencies, and festivals every year; <em>échos</em> has only been made possible
      thanks to the very special support of the people in charge of the farm.
    </p>
  {% endif %}
{% endblock %}
