{% extends 'layout.html' %}

{% block content %}
    <p class="air">
        <img class="inblock col2 rm" src="{{ STATIC_URL }}img/8.trompes/1.jpg" />
        <img class="inblock col2" src="{{ STATIC_URL }}img/8.trompes/2.jpg" />
    </p><br>
    <p>
        Le dispositif acoustique de la ferme du Faï se compose de <mark>trois trompes</mark> (basse, médium et aiguë)
        reliées à un système d'amplification. Il fait face à une falaise circulaire de plus de <mark>120 hectares</mark>
        d’envergure, accentuant de cette manière les échos inhérents au lieu. Grâce à la topographie de cet espace
        naturel, et à la disposition des trompes, l'auditeur perçoit les échos différemment suivant sa position
        dans la vallée.
    </p><br>
    <p>
        <img class="col85" src="{{ STATIC_URL }}img/8.trompes/3.jpg" />
    </p><br>
    <p>
        L'idée de créer un tel dispositif naquit en 1991, quand un groupe d'acousticiens prit conscience de
        l'acoustique inédite du lieu. Leurs deux problématiques furent la puissance de diffusion et
        la précision directionnelle. Leurs recherches et tests les amenèrent à créer, en 1994, <mark>les trompes
        médium et aiguë</mark> sur des plans de Michel Stievenart. Ces deux trompes, construites en bois, sont superposées
        l'une sur l'autre et reposent sur un support mobile qui permet de modifier la direction du son.
        Le travail se poursuivit avec la construction, en 1997, <mark>d'une trompe basse</mark> en métal et béton voilé créée
        par Jacques Châtaignier avec le concours des bénévoles de l'association <a target="_blank" href="http://villagesdesjeunes.org/">Village des Jeunes</a>.
    </p><br>
    <p>
        <img class="col75" src="{{ STATIC_URL }}img/8.trompes/4.jpg" />
    </p><br>
    <p>
        En tout, ce sont <mark>18 amplificateurs</mark> qui sont contenus dans les trompes, couvrant un spectre
        sonore allant de 16 à 15.000 hertz.
    </p><br>
    <p>
        <img class="inblock col2 rm" src="{{ STATIC_URL }}img/8.trompes/5.jpg" />
        <img class="inblock col2" src="{{ STATIC_URL }}img/8.trompes/6.jpg" />
    </p><br>
    <p>
        Lors de sa résidence à la Ferme du Faï en juin 2012, <mark>le groupe Insiden</mark> (fondateur du collectif
        Dôme et organisateur de l’événement <mark>échos</mark>), fut frappé par les possibilités qu’offre ce lieu
        pour tous les musiciens travaillant autour des textures sonores et de la création sur l’instant.
    </p><br>
    <p>
        De manière plus générale, c’est aux passionnés d’expériences sonores auxquels ce dispositif s’adresse tant il remet
        en question notre relation avec le son, l’environnement, et la narration musicale.
    </p><br>
    <p class="air sbreak">
        Plus de photos sur notre page <a target="_blank" href="https://www.facebook.com/association.dome/photos_albums"><img class="fb" src="{{ STATIC_URL }}img/layout/fb.png" />acebook</a> !
    </p>
    <img class="col85" src="{{ STATIC_URL }}img/8.trompes/7.jpg" />
{% endblock %}