{% extends 'layout.html' %}

{% block content %}
  <div class="sair sbreak box">
    <h2>À savoir</h2>
    <p class="sbreak"><mark>En cas de mauvais temps, il n'y a pas de dispositif pour garder toutes les têtes au sec.
    Soyez prêts à être aventuriers, et mouillés !</mark></p>
    <p>- Pas de carte bleu sur place : prévoyez du liquide pour l'entrée et tout le reste. </p>
    <p>- C'est la montagne : prenez des vêtements chauds et des lampes torches. </p>
    <p class="sbreak">- À partir du lundi 12 heures, le festival et la Ferme du Faï fermeront leurs portes. </p>
  </div>
  <h3 class="air sbreak">Se loger</h3>
  <p>
    La vallée offre aux visiteurs un grand espace sauvage <mark>où vous pourrez installer votre campement
    librement </mark>(prévoir tentes, sacs de couchage et vêtements chauds). Des sanitaires (douches et toilettes)
    seront à votre disposition à la Ferme du Faï. Le camping et les sanitaires seront gratuits pour tous les
    spectateurs.
  </p>
  <p class="sair">
    La Ferme du Faï propose des nuits en auberge dans la limite des places disponible.<br>Réservation obligatoire au
    0492580707.
  </p>
  <h3 class="air sbreak">Se restaurer</h3>
  <p>Nous vous proposons sur place à boire et à manger durant toute la durée du festival, vous pourrez
    également amener
    vos propres vivres.</p>

  <h2 class="air sbreak">LES TARIFS</h2>

  <h3>Boissons</h3>

  <p class="sbreak">
    Bière Alphand à la pression<br>
    - Demi de Blonde - 1€50<br>
    - Demi d'Ambrée ou de Blanche - 2€
  </p>

  <p>Verre de vin rouge local - 1€50</p>

  <p>Verre de jus de fruit, limonade ou cola local - 1€</p>

  <h3>Bouffe</h3>

  <p class="sbreak">
    <em>Samedi soir</em><br>
    Pizza au feu de bois - 1€50 la part
  </p>

  <p class="sbreak">
    <em>Dimanche midi</em><br>
    Sandwich à la carte - 3€<br>
    Fruits au choix - 0,50€
  </p>

  <p class="sbreak">
    <em>Dimanche soir</em><br>
    Assiette complète (petite entrée - dahl + riz - dessert - pain - fromage) - 8€<br>
    Bol de dahl - 3€
  </p>

  <p>
    <em>Les dimanche matin et lundi matin (jusqu'à 11h)</em><br>
    Petit déjeuner complet - 2€<br>
    Café - 0,50€
  </p>
{% endblock %}