*.pyc

_paths.py
_credentials.py
_debug.py

.idea/
.sass-cache

**/node_modules
**/bower_components
**/static/**/out/
**/static/*/echos*css
**/static/*/echos*js
**/static/**/css/
!**/static/echos2016/css/
/static

*.db
