<h2>Jooklo Duo</h2>
<a target='_blank' href='http://jooklo.altervista.org/'>jooklo.altervista.org</a>
{% if lang == 'fr' %}
  <p>
    À travers quelques disques et des centaines de performances autour du globe depuis 2004, Jooklo Duo (Virginia Genta
    aux flûtes, anches, piano, percussions et David Vanzan à la batterie) étonne et charme via une musique profondément
    ancrée dans l’avant-garde free jazz — mais tout aussi influencée par le folk traditionnel et ouverte aux
    expérimentations les plus extrêmes.
  </p>
  <p>
    Au cours des années, leur volonté de trouver de nouveaux territoires à explorer a conduit Genta et Vanzan à former
    différents ensembles et à collaborer avec des artistes tels que Bill Nace, Chris Corsano, Thurston Moore, Dror Feiler,
    Dylan Nyoukis, Hartmut Geerken, Makoto Kawabata, Sabu Toyozumi, Tamio Shiraishi, et beaucoup d’autres.
  </p>
  <p>
    Ce duo a aussi travaillé avec le Merce Cunningham Dance Company aux côtés de John Paul Jones and Takehisa Kosugi,
    jouant pour “Nearly Ninety” à Madrid (avril 2009, Teatro del Canal), ainsi qu’à Londres (octobre 2010, Barbican
    Centre).
  </p>
{% else %}
  <p>
    Blowing minds all over the world since 2004 with hundreds of charming performances and some cult records, Jooklo Duo
    (Virginia Genta on reeds, flutes, piano, percussion and David Vanzan on drums) keep spreading their powerful and
    uniquely vibrant sound, deeply rooted in free jazz avant-garde but heavily influenced by traditional folk music
    while staying open to extreme sound experimentations.
  </p>
  <p>
    Over the years the perpetual research for new and challenging combinations has led Genta and Vanzan to form a large
    variety of ensembles and to collaborate with artists such as Bill Nace, Chris Corsano, Thurston Moore, Dror Feiler,
    Dylan Nyoukis, Hartmut Geerken, Makoto Kawabata, Sabu Toyozumi, Tamio Shiraishi, and many others.
  </p>
  <p>
    The duo has also been working with the Merce Cunningham Dance Company alongside John Paul Jones and Takehisa Kosugi,
    performing for “Nearly Ninety” in Madrid (April 2009, Teatro del Canal), and in London (October 2010 at the Barbican
    Centre).
  </p>
  <p class='credits'>
    <mark>Jooklo Duo at Echos Festival</mark><br>
    Of all the places where we've been performing we've always preferred all those situations where we could play
    outdoor, we really enjoy to play in the nature and along its sounds, so we are really psyched to play in such a
    special environment and to experiment nearby those monster horns!
  </p>
{% endif %}
