<h2>salsa</h2>
{% if lang == 'fr' %}
  <p>
    <em>Salsa</em> est le nouveau projet de la collaboration <em>Loup Gangloff / Frédéric Mancini</em> (Deux Boules Vanille). Deux
    synthétiseurs analogiques DIY, une boite à rythme et un jeu entre l'acide house, le gamelan, les râgas hindous sous
    speed.
  </p>
  <p>
    <em>Salsa</em>, l'alliance magique de la sauce avec la danse.
  </p>
{% else %}
  <p>
    <em>Salsa</em> is the new collaboration of <em>Loup Gangloff</em> and <em>Frédéric Mancini</em> (Deux Boules Vanille). Two DIY analog
    synthetizers, a groovebox and a conversation between acid house, gamelan, and Indian râgas on speed.
  </p>
  <p>
    <em>Salsa</em>, the magic mariage of sauce and dance.
  </p>
{% endif %}
