<h2>AUTRENOIR</h2>
<span>Paul - </span><a target='_blank' href='http://mondkopf.tumblr.com/'>http://mondkopf.tumblr.com/</a><br>
<span>Greg - </span><a target='_blank' href='http://saaad.bandcamp.com/'>http://saaad.bandcamp.com/</a>
<p>
  Autrenoir est l’alliance de deux musiciens de 27 ans : Paul Régimbeau, musicien électronique sous le nom de Mondkopf
  et Greg Buffier, guitariste, connu pour son projet Saåad.
</p>
<p>
  Hormis des origines dans le Sud-Ouest et un tempérament lunatique, les deux garçons partagent le goût des
  collaborations, des musiques sacrées, et du mur de son... Après plusieurs mois d'échanges et d'évolution en commun,
  Échos accueillera le premier concert de leur nouveau projet Autrenoir.
</p>