<h2>pali meursault</h2>
<a target='_blank' href='http://www.palimeursault.net/'>www.palimeursault.net</a><br>
<em><a target='_blank' href='http://www.palimeursault.net/problem.html'>For every solution there is a problem</a></em>
{% if lang == "fr" %}
  <p>
    La performance <em>For every solution there is a problem</em> propose une rencontre entre l'enregistrement et l'instrument,
    la composition et l'improvisation: field-recordings d'insectes, alpins, japonais ou amazoniens en dialogue avec les
    sons produits par le champ électromagnétique de néons, manipulés, maltraités et filtrés par un dispositif analogique
    en grande partie construit chez casto et bricolex.
  </p>
  <p>
    <em>pali&thinsp;meursault</em> est artiste sonore, compositeur électroacoustique, ingénieur du son. Ses disques, créations
    radiophoniques, installations ou performances ont souvent recours à l'enregistrement de terrain, parfois au
    bricolage sonore. Il lui arrive de travailler pour le cinéma ou le spectacle vivant, ou encore d'écrire, parler ou
    enseigner.
  </p>
  <p class='credits'>
    Crédits photo - Lise Fisher
  </p>
{% else %}
  <p>
    <em>For every solution there is a problem</em> is a performance where the recording meets the instrument, the composition
    meets the improvisation: soundscapes from the Alps, Japan, Amazonia merge with sounds produced by electromagnetic
    neon fields processed by a DIY analog setup.
  </p>
  <p>
    <em>pali&thinsp;meursault</em> is a sound artist, electroacoustic composer and audio engineer. His records, radiophonic creations,
    installations or performances are often made with soundscapes, sometimes with DIY acoustic setups. From time to time
    he works for movies or shows, writes, talks, teaches.pali meursault is a sound artist, electroacoustic composer and
    audio engineer. His records, radiophonic creations, installations or performances are often made with soundscapes,
    sometimes with DIY acoustic setups. From time to time he works for movies or shows, writes, talks, teaches.
  </p>
  <p class='credits'>
    Picture credits - Lise Fisher
  </p>
{% endif %}