$ft_default: 14px;
$ft_caviar: 24px;
$ft_small: 0.75*$ft_caviar;

@mixin hGroup($txt: 400%, $txt2: 100%, $a:center, $m:-15px){
  hgroup {
    text-align: $a;

    h1#echos {
      margin-top: $m;
      font-size: $txt;
    }

    h2#date {
      text-transform: uppercase;
      font-size: $txt2;
    }
  }
}