div.fancybox-wrap {
  background: black;
  border-radius: 4px;
  padding-right: 320px;
}

div.fancybox-skin {
  background: black;

  a.fancybox-nav {
    width: 10%;
  }
}

.fancybox-title {
  visibility: hidden;
  text-shadow: none;
  z-index: 8050;
  position:absolute;
  width:300px;
  right:5px;
  bottom: 0px;
  top:25px;
  margin-left:10px;
  margin-top:20px;
  margin-right:10px;
  height:89%;
  min-height:100px;
  padding:5px 5px 0px 5px;

  overflow: auto;

  * {
    color: white;
    font-family: "Noe", arial, sans-serif;
  }

  h2 {
    margin-bottom: 20px;
  }

  a {
    color: darken(#668faf, 15%);
  }

  a:hover {
    text-decoration: underline;
    color: darken(#668faf, 25%);
  }

  p {
    text-align: justify;
    margin-top: 20px;

    &.credits {
      margin-top: 40px;
      font-size: 95%;
      font-style: italic;
    }
  }
}
