@import "layout";

section#page {
  /** Content **/
  section#contentRow {
    section#contentFrame {
      section.content {
        img {
          width: 85%;
          display: block;
          margin: auto;
        }
        $content_margin : 1%;
        $content_height: 93.75%;
        height: $content_height;
        margin: 2*$content_margin 0 $content_margin $content_margin;
        overflow: auto;
        position: relative;
      }
    }
  }
}