@import "mixins";

/*******FONTS*******/
@font-face {
    font-family: 'Noe';
    font-style: normal;
    font-weight: normal;
    src: url('../font/noe/noe.eot');
    src: url('../font/noe/noe.ttf') format('truetype'),
         url('../font/noe/noe.woff') format('woff'),
         url('../font/noe/noe.otf') format('truetype'),
         url('../font/noe/noe.svg') format('svg');
}

@font-face {
    font-family: 'Larish';
    font-style: normal;
    font-weight: normal;
    src: url('../font/larish/larish.eot');
    src: url('../font/larish/larish.ttf') format('truetype'),
         url('../font/larish/larish.woff') format('woff'),
         url('../font/larish/larish.otf') format('truetype'),
         url('../font/larish/larish.svg') format('svg');
}

@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica'),
        url('../font/helvetica/helvetica.ttf') format('truetype'),
        url('../font/helvetica/helvetica.woff') format('woff'),
        url('../font/helvetica/helvetica.svg') format('svg');
}

/** nowait **/
/** Screen **/
/***Waiting screen***/
.screen {
  position: fixed;
  width: 100%; height: 100%;
  z-index: 9;

  background: white;

}

/*******FONTS*******/
* {
    margin: 0;
}

body {
    background: #2faa75 url('/static/2015/img/1.home/bgtile.jpg') repeat;
}

.caps {
    text-transform: uppercase !important;
}

.fleft {
    float: left !important;
}

.fright {
    float: right !important;
}

/***********TextAlign********/
.tright {
    text-align: right !important;
}

.tcenter {
    text-align: center !important;
}

.tleft {
    text-align: left !important;
}

.tjustify {
    text-align: justify !important;
}
/***********TextAlign********/


/* Theme */
h1, h2, h3, h4 {
  font-weight: normal;
}

.caviar {
  font-family: "Larish", serif;
  font-weight: normal;
}

.white {
  color: white !important;
}

a, a:hover, a:visited, a:focus {
  color: inherit;
  text-decoration: inherit;
}

.content a, .fancybox-title a {
  color: darken(#ab818e, 0%);
}

.content a:hover, .fancybox-title a:hover {
  text-decoration: underline;
  color: darken(#ab818e, 15%);
}

.inblock {
  display: inline-block;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mark {
  font-weight: bold;
  background: none;
  color: #161616;
}

img.fb {
  vertical-align: -3px;
}

/*** ScrollTop ***/
div.scrollTop {
  display: inline;
  position: absolute;
  width: 3%;
  right: 0;
  margin-top: 10px;

  img {
    position: absolute;
    width: 100%;
  }

  img.hover {
    opacity: 0;
  }

  img.nohover {
    opacity: 1;
  }
}

div.scrollTop:hover {
  cursor: pointer;

  img.nohover {
    opacity: 0;
  }

  img.hover {
    opacity: 1;
  }
}

.red {
  color: #cc0505 !important;
}



/**IEDENY**/
img {border:  none;}
.ieDeny {display: none;}