body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 90px 0px 93px 76px;padding: 0px;border: none;width: 717px;}
#page_2 {position:relative; overflow: hidden;margin: 74px 0px 80px 76px;padding: 0px;border: none;width: 717px;}
#page_3 {position:relative; overflow: hidden;margin: 1123px 0px 0px 0px;padding: 0px;border: none;width: 0px;height: 0px;}

.ft0{font: 13px 'Garamond';line-height: 15px;}
.ft1{font: 13px 'Garamond';line-height: 17px;}
.ft2{font: 10px 'Garamond';line-height: 15px;}
.ft3{font: italic 13px 'Garamond';line-height: 17px;}
.ft4{font: 16px 'Garamond';line-height: 20px;}
.ft5{font: 16px 'Garamond';line-height: 18px;}
.ft6{font: 13px 'Garamond';line-height: 14px;}
.ft7{font: italic 13px 'Garamond';line-height: 14px;}
.ft8{font: 13px 'Garamond';line-height: 22px;}
.ft9{font: 13px 'Garamond';line-height: 16px;}
.ft10{font: 13px 'Arial';line-height: 16px;}
.ft11{font: 13px 'Garamond';margin-left: 41px;line-height: 14px;}
.ft12{font: 13px 'Garamond';margin-left: 44px;line-height: 14px;}
.ft13{font: 13px 'Garamond';margin-left: 44px;line-height: 15px;}
.ft14{font: 16px 'Garamond';line-height: 19px;}
.ft15{font: italic 16px 'Garamond';line-height: 18px;}
.ft16{font: 15px 'Garamond';line-height: 26px;}
.ft17{font: 12px 'Garamond';line-height: 13px;}
.ft18{font: 15px 'Arial';line-height: 17px;}
.ft19{font: 16px 'Garamond';margin-left: 16px;line-height: 18px;}
.ft20{font: 16px 'Garamond';margin-left: 16px;line-height: 19px;}
.ft21{font: 15px 'Garamond';line-height: 20px;}
.ft22{font: 15px 'Garamond';line-height: 17px;}
.ft23{font: 11px 'Garamond';line-height: 12px;}
.ft24{font: italic 12px 'Garamond';line-height: 13px;}
.ft25{font: 1px 'Garamond';line-height: 1px;}
.ft26{font: 16px 'Garamond';line-height: 16px;}
.ft27{font: 1px 'Garamond';line-height: 16px;}
.ft28{font: 16px 'Garamond';margin-left: 32px;line-height: 18px;}

.p0{text-align: justify;padding-left: 368px;padding-right: 75px;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;padding-left: 395px;padding-right: 76px;margin-top: 2px;margin-bottom: 0px;}
.p2{text-align: left;padding-right: 76px;margin-top: 22px;margin-bottom: 0px;text-indent: 47px;}
.p3{text-align: left;padding-left: 123px;margin-top: 4px;margin-bottom: 0px;}
.p4{text-align: left;padding-left: 170px;margin-top: 8px;margin-bottom: 0px;}
.p5{text-align: left;padding-left: 359px;margin-top: 9px;margin-bottom: 0px;}
.p6{text-align: left;padding-left: 75px;margin-top: 9px;margin-bottom: 0px;}
.p7{text-align: left;padding-left: 311px;margin-top: 9px;margin-bottom: 0px;}
.p8{text-align: left;padding-left: 312px;margin-top: 9px;margin-bottom: 0px;}
.p9{text-align: left;padding-left: 307px;margin-top: 9px;margin-bottom: 0px;}
.p10{text-align: left;padding-left: 284px;padding-right: 359px;margin-top: 9px;margin-bottom: 0px;text-indent: 26px;}
.p11{text-align: left;padding-left: 75px;padding-right: 285px;margin-top: 2px;margin-bottom: 0px;text-indent: 135px;}
.p12{text-align: left;padding-left: 75px;padding-right: 526px;margin-top: 2px;margin-bottom: 0px;text-indent: 47px;}
.p13{text-align: justify;padding-left: 75px;padding-right: 152px;margin-top: 2px;margin-bottom: 0px;}
.p14{text-align: left;padding-left: 75px;margin-top: 4px;margin-bottom: 0px;}
.p15{text-align: justify;padding-left: 75px;padding-right: 151px;margin-top: 9px;margin-bottom: 0px;}
.p16{text-align: justify;padding-left: 75px;margin-top: 24px;margin-bottom: 0px;}
.p17{text-align: justify;padding-left: 75px;margin-top: 9px;margin-bottom: 0px;}
.p18{text-align: left;padding-left: 85px;margin-top: 6px;margin-bottom: 0px;}
.p19{text-align: left;padding-left: 75px;padding-right: 153px;margin-top: 9px;margin-bottom: 0px;text-indent: 47px;}
.p20{text-align: left;padding-left: 47px;margin-top: 4px;margin-bottom: 0px;}
.p21{text-align: justify;padding-right: 76px;margin-top: 8px;margin-bottom: 0px;text-indent: 47px;}
.p22{text-align: left;padding-left: 100px;margin-top: 4px;margin-bottom: 0px;}
.p23{text-align: left;padding-left: 100px;margin-top: 0px;margin-bottom: 0px;}
.p24{text-align: left;padding-left: 109px;padding-right: 146px;margin-top: 8px;margin-bottom: 0px;text-indent: -32px;}
.p25{text-align: left;padding-left: 36px;margin-top: 0px;margin-bottom: 0px;}
.p26{text-align: left;padding-right: 77px;margin-top: 8px;margin-bottom: 0px;}
.p27{text-align: left;padding-right: 76px;margin-top: 4px;margin-bottom: 0px;}
.p28{text-align: left;padding-left: 275px;margin-top: 4px;margin-bottom: 0px;}
.p29{text-align: justify;padding-left: 48px;padding-right: 76px;margin-top: 11px;margin-bottom: 0px;text-indent: -24px;}
.p30{text-align: justify;padding-left: 24px;margin-top: 10px;margin-bottom: 0px;}
.p31{text-align: justify;padding-left: 48px;padding-right: 76px;margin-top: 7px;margin-bottom: 0px;text-indent: -24px;}
.p32{text-align: justify;padding-left: 24px;margin-top: 8px;margin-bottom: 0px;}
.p33{text-align: left;padding-left: 289px;margin-top: 8px;margin-bottom: 0px;}
.p34{text-align: justify;padding-right: 71px;margin-top: 8px;margin-bottom: 0px;text-indent: 47px;}
.p35{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p36{text-align: right;padding-right: 139px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p37{text-align: left;padding-left: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p38{text-align: left;padding-left: 8px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p39{text-align: center;padding-right: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p40{text-align: left;padding-left: 16px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p41{text-align: right;padding-right: 148px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p42{text-align: left;padding-left: 24px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p43{text-align: right;padding-right: 155px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p44{text-align: left;padding-left: 36px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p45{text-align: right;padding-right: 161px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p46{text-align: center;padding-left: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p47{text-align: left;padding-left: 44px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p48{text-align: right;padding-right: 167px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p49{text-align: left;padding-left: 145px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p50{text-align: left;padding-left: 48px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p51{text-align: right;padding-right: 177px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p52{text-align: left;padding-left: 60px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p53{text-align: right;padding-right: 182px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p54{text-align: left;padding-left: 64px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p55{text-align: right;padding-right: 195px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p56{text-align: left;padding-left: 63px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p57{text-align: right;padding-right: 184px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p58{text-align: justify;padding-left: 102px;margin-top: 0px;margin-bottom: 0px;}
.p59{text-align: left;padding-left: 47px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p60{text-align: left;padding-left: 20px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p61{text-align: left;padding-left: 142px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p62{text-align: justify;padding-right: 417px;margin-top: 5px;margin-bottom: 0px;}
.p63{text-align: left;margin-top: 2px;margin-bottom: 0px;}
.p64{text-align: left;margin-top: 3px;margin-bottom: 0px;}

.td0{padding: 0px;margin: 0px;width: 71px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 205px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 314px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 276px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 62px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 267px;vertical-align: bottom;}
.td6{padding: 0px;margin: 0px;width: 199px;vertical-align: bottom;}

.tr0{height: 22px;}
.tr1{height: 18px;}
.tr2{height: 16px;}
.tr3{height: 20px;}

.t0{width: 590px;margin-left: 51px;font: 16px 'Garamond';}
.t1{width: 528px;margin-left: 96px;font: 16px 'Garamond';}
