<DIV id="page_1">
    <P class="p0 ft0">« La musique a un caractère encore plus spirituel que la sculpture et la peinture. En effet, elle ne s’incarne pas dans la matière, ni non plus sur la matière, mais elle prend chair dans son propre mouvement et dans sa vie, dans le son. »</P>
    <P class="p1 ft3"><SPAN class="ft1">Vladimir S</SPAN><SPAN class="ft2">OLOVIEV</SPAN><SPAN class="ft1">, </SPAN>Principes philosophiques de la connaissance intégrale<SPAN class="ft1">, 1877.</SPAN></P>
    <P class="p2 ft4"><mark>Ce qui suit est une note de bas de page qui s’est imposée comme s’imposent ceux à qui elle est adressée [1] :</mark></P>
    <P class="p3 ft6"><SPAN class="ft5">[1] </SPAN>Chers déchéants,</P>
    <P class="p4 ft6">Gras consommateurs</P>
    <P class="p5 ft6">repus de musiques</P>
    <P class="p6 ft6">que vos oreilles vomissent !</P>
    <P class="p6 ft6">Et que vos oreilles <SPAN class="ft7">vous </SPAN>abhorrent, que vos <SPAN class="ft7">sens </SPAN>vous exècrent...</P>
    <P class="p7 ft6 nothing">IlS.</P>
    <P class="p8 ft6 nothing">.ne</P>
    <P class="p9 ft6 nothing">sont.</P>
    <P class="p10 ft8 nothing">.pas
    <P class="p102 ft8 nothing">LES S.E.U.L.S</P>
    <P class="p11 ft8 nothing">(Votre petite âme est devenue toute carrée)</P>
    <P class="p13 ft8">A quoi vous reconnaît-on ?</P>
    <P class="p3 ft8">Simplement : </P>
    <P class="p13 ft8">PROPOSITION I.</P>
    <P class="p13 ft1">« La misérable condition de l’humain à <NOBR>l’âme-carrée</NOBR> se fait sentir dans toute son acmé lorsqu’il consomme du spirituel en pensant avaler du matériel : il baffre de la musique, l’adipeux. »</P>
    <P class="p14 ft6">SCOLIE DE LA PROPOSITION I (adressée aux « très malins »)</P>
    <P class="p15 ft9">« Si, ce sot animal mange de la musique qu’il digérera paisiblement et à qui <NOBR>mieux-mieux</NOBR> sur sa couche, très bien, mais secrètement – vous, moi, nous – ne pensons nous pas plein de malignité :</P>
    <P class="p16 ft6"><SPAN class="ft10">–</SPAN><SPAN class="ft11">“ </SPAN><NOBR>puisse-t-il</NOBR> vite la déféquer !</P>
    <P class="p17 ft6"><SPAN class="ft10">–</SPAN><NOBR><SPAN class="ft12">puisse-t-il</SPAN></NOBR> en tomber malade !</P>
    <P class="p17 ft6"><SPAN class="ft10">–</SPAN><NOBR><SPAN class="ft11">puisse-t-il</SPAN></NOBR> s’en retourner les boyaux ! … les TYMPANS, les PYNTAMS !</P>
    <P class="p15 ft0"><SPAN class="ft10">–</SPAN><SPAN class="ft13">Puissions nous, ah pussions nous faire que ce subjonctif optatif se métamorphose en indicatif présent. ”</SPAN></P>
    <P class="p18 ft6">? »</P>
    <P class="p6 ft7">Q.UOD E.RAT D.EMANSTRANDUM</P>
    <P class="p19 ft3"><SPAN class="ft1">« … </SPAN>Animal à <NOBR>l’âme-carrée</NOBR> qui réussit l’exploit de transformer l’éther en plomb, nous ne nous adressons pas à vous <SPAN class="ft1">... »</SPAN></P>
    <P class="p20 ft5"><mark>Ici se termine l’importune note, ici commence notre manifeste.</mark></P>
    <P class="p21 ft14">Nous nous adressons aux « très malins », à ceux qui n’ont pas oublié que la musique est spirituelle, à ceux qui ne la consomment pas mais la vivent, à ceux que l’éther soulève encore du sol et cahote dans le ciel incertain même si leur existence est de plomb. Nous nous adressons aux plombs qui deviennent nuées et gouttelettes vibrantes dans un son virevoltant.</P>
    <P class="p22 ft5">Vous et Nous sommes l’orage, nous invoquons la foudre : <SPAN class="ft15">fiat Musica.</SPAN></P>
</DIV>
<DIV id="page_2">
    <P class="p23 ft5">Si nous nous adressons à vous, ce n’est pas dans un esprit de conquête.</P>
    <P class="p24 ft16">Si nous nous adressons à vous, ce n’est pas pour vous écraser de notre création. Si nous nous adressons à vous, ce n’est pas à des fins de domination.</P>
    <P class="p25 ft5">Si nous nous adressons à vous, ce n’est pas pour que vous vous courbiez devant notre génie.</P>
    <P class="p26 ft4">Nous laissons l’adulation, l’idolâtrie et la bêtise aux animaux et leur tyrans, car nous cherchons des hommes :</P>
    <P class="p27 ft4">« <NOBR>Qu’est-ce</NOBR> que c’est que ça ? » jappe le prétendu esprit fort, lançant des gros clin d’œil aux ricaneurs, ses compagnons les <NOBR>esprits-plats.</NOBR></P>
    <P class="p28 ft17"><SPAN class="ft5">P</SPAN>HILOSOPHONS</P>
    <P class="p29 ft5"><SPAN class="ft18">–</SPAN><SPAN class="ft19">L’homme n’est pas un ça ; répond l’esprit fécond ne pouvant faire des phrases claires lorsqu’il tremble de tout dire ; l’homme n’est pas une pure extériorité comme la pierre, ni une pure intériorité comme le rêveur. L’homme est un mouvement, c’est une intériorité profonde qui s’extériorise en hauteur, comme une vague venue des abysses qui trop souvent se fracasse contre les falaises, mais qui parfois caresse les étoiles et fait danser les dauphins.</SPAN></P>
    <P class="p29 ft5"><SPAN class="ft18">–</SPAN><SPAN class="ft19">Arrêtez, mes médecins m’ont déconseillé la métaphysique, j’ai déjà le mal de mer.</SPAN></P>
    <P class="p29 ft14"><SPAN class="ft18">–</SPAN><SPAN class="ft20">Sont intérieures à l’homme, les choses qui participent de son augmentation, de sa puissance, or l’homme </SPAN><NOBR>lui-même</NOBR> lorsqu’il s’extériorise participe de l’intériorité croissante d’un individu supérieur. Mouvement. Métamorphose. Mouvement. L’homme en s’extériorisant intériorise, il intériorise l’extérieur, il le fait participer de son augmentation.</P>
    <P class="p31 ft14"><SPAN class="ft18">–</SPAN><SPAN class="ft20">Vous me donnez la nausée, je ne comprends rien de ce que vous dites, l’air marin vous rend bizarre.</SPAN></P>
    <P class="p32 ft5"><SPAN class="ft18">–</SPAN><SPAN class="ft19">Mouvement, il gagne en profondeur et en hauteur. »</SPAN></P>
    <P class="p33 ft5"><mark>Invitation.</mark></P>
    <P class="p34 ft21">Nous vous invitons à gagner en profondeur et en hauteur. Nous vous invitons à venir faire participer vos intériorités à notre créativité, avec le doux fantasme que <NOBR>celle-ci</NOBR> devienne création, un individu supérieur que nous constituerions de l’intérieur, nous les dauphins qui dansons avec les étoiles.</P>
    <TABLE cellpadding=0 cellspacing=0 class="t0">
        <TR>
            <TD class="tr0 td0"><P class="p35 ft5">E</P></TD>
            <TD class="tr0 td1"><P class="p36 ft5">I</P></TD>
            <TD class="tr0 td2"><P class="p37 ft5">D’église désaffectée en maison trisonores, de fer-</P></TD>
        </TR>
        <TR>
            <TD class="tr1 td0"><P class="p38 ft5">X</P></TD>
            <TD class="tr1 td1"><P class="p36 ft5">M</P></TD>
            <TD class="tr1 td2"><P class="p39 ft22">me aux trompettes en cassettes bouclées à l’infini :</P></TD>
        </TR>
        <TR>
            <TD class="tr1 td0"><P class="p40 ft5">P</P></TD>
            <TD class="tr1 td1"><P class="p41 ft5">P</P></TD>
            <TD class="tr1 td2"><P class="p37 ft22">Au carrefour de l’improvisation et de l’expérimen-</P></TD>
        </TR>
        <TR>
            <TD class="tr1 td0"><P class="p42 ft5">E</P></TD>
            <TD class="tr1 td1"><P class="p43 ft5">R</P></TD>
            <TD class="tr1 td2"><P class="p37 ft5">tation.</P></TD>
        </TR>
        <TR>
            <TD class="tr1 td0"><P class="p44 ft5">R</P></TD>
            <TD class="tr1 td1"><P class="p45 ft5">O</P></TD>
            <TD class="tr1 td2"><P class="p46 ft22">Maison Drone, Ferme Faï, D<SPAN class="ft23">ÔME </SPAN>:</P></TD>
        </TR>
        <TR>
            <TD class="tr1 td0"><P class="p47 ft5">I</P></TD>
            <TD class="tr1 td1"><P class="p48 ft5">V</P></TD>
            <TD class="tr1 td2"><P class="p49 ft24"><SPAN class="ft15">F</SPAN>IAT <SPAN class="ft15">M</SPAN>USICA <SPAN class="ft15">!</SPAN></P></TD>
        </TR>
        <TR>
            <TD class="tr1 td0"><P class="p50 ft5">M</P></TD>
            <TD class="tr1 td1"><P class="p51 ft5">I</P></TD>
            <TD class="tr1 td2"><P class="p35 ft25">&nbsp;</P></TD>
        </TR>
        <TR>
            <TD class="tr1 td0"><P class="p52 ft5">E</P></TD>
            <TD class="tr1 td1"><P class="p53 ft5">S</P></TD>
            <TD class="tr1 td2"><P class="p35 ft25">&nbsp;</P></TD>
        </TR>
        <TR>
            <TD colspan=2 class="tr1 td3"><P class="p54 ft5">N A</P></TD>
            <TD class="tr1 td2"><P class="p35 ft25">&nbsp;</P></TD>
        </TR>
        <TR>
            <TD class="tr1 td0"><P class="p35 ft25">&nbsp;</P></TD>
            <TD class="tr1 td1"><P class="p55 ft5">T</P></TD>
            <TD class="tr1 td2"><P class="p35 ft25">&nbsp;</P></TD>
        </TR>
        <TR>
            <TD class="tr2 td0"><P class="p56 ft26">I</P></TD>
            <TD class="tr2 td1"><P class="p57 ft26">A</P></TD>
            <TD class="tr2 td2"><P class="p35 ft27">&nbsp;</P></TD>
        </TR>
    </TABLE>
    <P class="p58 ft5"><SPAN class="ft5">O</SPAN><SPAN class="ft28">T</SPAN></P>
    <TABLE cellpadding=0 cellspacing=0 class="t1">
        <TR>
            <TD class="tr3 td4"><P class="p35 ft5">N</P></TD>
            <TD class="tr3 td5"><P class="p35 ft5">I</P></TD>
            <TD class="tr3 td6"><P class="p59 ft5">Baisers en</P></TD>
        </TR>
        <TR>
            <TD class="tr1 td4"><P class="p35 ft25">&nbsp;</P></TD>
            <TD class="tr1 td5"><P class="p38 ft5">O</P></TD>
            <TD class="tr1 td6"><P class="p35 ft5">hologrammes,</P></TD>
        </TR>
        <TR>
            <TD class="tr3 td4"><P class="p35 ft25">&nbsp;</P></TD>
            <TD class="tr3 td5"><P class="p60 ft5">N</P></TD>
            <TD class="tr3 td6"><P class="p61 ft17"><SPAN class="ft22">R</SPAN>AMBERT</P></TD>
        </TR>
    </TABLE>
    <P class="p62 ft9">« L'association Dôme a été créée pour le développement et la diffusion des musiques, contemporaines et expérimentales et la valorisation de lieux bénéficiant de caractéristiques acoustiques particulières. »</P>
    <P class="p63 ft6"><SPAN class="ft7">Siège social : </SPAN>12, avenue Paul Kruger, 69100 Villeurbanne.</P>
    <P class="p64 ft7">Date de la déclaration : <SPAN class="ft6">12 février 2013.</SPAN></P>
</DIV>