{% extends "echos2015/layout.html" %}
{% load tags %}

{% block content %}
  <p class="box air break tcenter">
  {% if lang == "fr" %}
    <mark>Le festival est complet</mark>,<br>
    Merci à tous vous êtes vraiment trop géniaux et on vous aime partout dans le corps. À toute !<br><br>
    Nos plus tendres excuses aux retardataires qui voulaient vraiment venir et qui ont pour ainsi dire raté, on a fait le choix de conserver un maximum de convivialité dans cet endroit qui le nécéssite..<br>
    Merci pour votre compréhension et à l'an prochain !
  {% else %}
    <mark>The event is sold out,</mark><br>
    Thank's everybody and see you very soon!
  {% endif %}
  </p>

  <p class="sair tcenter">
    <iframe src="https://player.vimeo.com/video/123264060?autoplay=0&color=ffffff&title=0&byline=0&portrait=0"
            width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </p>
  <p class="sair">
    {% if lang == "fr" %}
      Après un deuxième exercice du tonnerre, <mark>échos 3</mark> fera à nouveau vibrer <a href="{% href request "lieu/trompes" %}">
      le système acoustique</a> de la <a href="{% href request "lieu/ferme" %}">ferme du Faï</a> <mark>le vendredi 26 juin 2015</mark>.
    {% else %}
      The previous edition of échos was a wild and stormy one; <a href="{% href request "lieu/trompes" %}">the acoustic system</a> will
      tremble again through <mark>échos 3, Friday the 26th of June, 2015</mark>.
    {% endif %}
  </p>
  <p class="sair">
    {% if lang == "fr" %}
      Toute la nuit, <a href="{% href request "echos/programmation" %}">sept formations</a> joueront sur <mark>trois trompes géantes</mark>
      plantées entre la montagne d’Aujour et une falaise concave à la résonance singulière.
    {% else %}
      All night long, <a href="{% href request "echos/programmation" %}">seven bands</a> will play on the <mark>three giant horns</mark>
      rooted between the Aujour mountain and a peculiar-resonating concave cliff.
    {% endif %}
  </p>
  <p class="sair">
    {% if lang == "fr" %}
      Les artistes invités improviseront au gré des échos et des bruits naturels pour envelopper l’espace de leur
      musique, après s’être familiarisés au lieu lors d’une semaine de résidence. Continuums, accidents et autres
      manipulations sonores seront projetés par les trompes et <mark>réverbérés par la falaise</mark> dans la nuit ambiante.
    {% else %}
      The artists will improvise amidst the echoes and surrounding sounds to unfold the space with music — after a
      week-long residency to let them feel the place. Drones, glitches and other sonic manipulations will be thrown by
      the horns and <mark>reverberated by the cliff</mark> through the ambient night.
    {% endif %}
  </p>
  <p class="sair">
    {% if lang == "fr" %}
      Le lendemain, repos, balade, baignade ou test du système acoustique (<a href="{% href request "contact" %}">inscription obligatoire</a>),
      avant une soirée bonus pour les plus vaillants, ou les moins résignés au départ :
      <mark>un concert chaleureux au <em>théâtre de verdure</em></mark>.
    {% else %}
      The day after, rest, walk, bath, or try out the acoustic system (<a href="{% href request "contact" %}">registration required!</a>)
      — followed by an extra evening for the braves: <mark>a party with live acts at <em>le théâtre de verdure</em></mark>.
    {% endif %}
  </p>
  <p class="sair">
    {% if lang == "fr" %}
      Le festival a lieu dans un milieu naturel ouvert ; vous pourrez arpenter la vallée à la recherche des meilleurs
      espaces d’écoute. <a href="{% href request "modalites/zzz" %}">Le camping est sauvage, libre et autonome</a>.
    {% else %}
      The festival is taking place in a natural open environment; you'll be able to wander through the valley in
      search of the best listening spots. <a href="{% href request "modalites/zzz" %}">Camping is free and autonomous</a>.
    {% endif %}
  </p>
  <p class="sair sbreak">
    {% if lang == "fr" %}
      <mark>Après une nouvelle nuit sur place, le festival fermera ses portes le dimanche matin.</mark>
    {% else %}
      <mark>After a last night on the site, the festival and the farm will close on sunday at noon.</mark>
    {% endif %}
  </p>
{% endblock %}
