{% extends "echos2015/layout.html" %}
{% load static %}

{% block contentTitle %}{% endblock %}

{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{% static "echos2015/css/jquery.mCustomScrollbar.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "echos2015/css/4.qui.css" %} " />
{% endblock %}

{#{% block extrajs %}#}
{#    {{ block.super }}#}
{#    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>#}
{#{% endblock %}#}

{% block content %}
    <a href="{% static "echos2015/misc/FiatMusica.pdf" %}" target="_blank">
        <img src="{% static "echos2015/img/4.qui/FiatMusica.png" %}" />
    </a>
{% endblock %}
