{% extends "echos2014/layout.html" %}
{% load static %}
{% load tags %}

{% block extracss %}
  {{ block.super }}
  <link href="{% static "echos2014/js/lib/fancybox/jquery.fancybox.css" %}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block extrajs %}
  {{ block.super }}
  <script src="{% static "echos2014/js/lib/fancybox/jdidbox.v0.1.pack.js" %}"></script>
{% endblock %}

{% block content %}
  <p class="sair">
    À quelques pas de la <a href="{% href request "lieu/ferme/" %}">Ferme du Faï</a>, <mark>trois trompes géantes</mark> (basse, médium et
    aiguë) sont reliées à un système
    d'amplification. Celles-ci font face à une falaise concave de plus de <mark>120 hectares</mark> d’envergure,
    accentuant ainsi les
    échos inhérents au lieu. Grâce à la topographie de cet espace naturel, et à la disposition des trompes, l'auditeur
    perçoit les échos différemment selon sa position dans la vallée, avec des variations d’amplitude et de
    réverbération. L’ampleur des trompes et leur singularité architecturale ont façonné, depuis deux décennies,
    l’identité du lieu.
  </p>
  <p class="sair">
    <mark>Échos 2014</mark>, comme la précédente édition, sera l’occasion d’explorer les possibilités extraordinaires
    offertes par
    les trompes, la falaise, et l’environnement. <br>Le festival permet aux artistes, au terme d’une résidence d’une
    semaine, de questionner notre relation avec le son, sa spatialité, sa narration.</p>

  <div class="air break gallery box">
    <a rel="trompes-description" data-boxtitle="Copyright <em>As Human Pattern</em>"
       href="{% static "echos2014/img/8.trompes/description/1.jpg" %}">
      <img src="{% static "echos2014/img/8.trompes/description/thumb/1.jpg" %}">
    </a>
    <a rel="trompes-description"
       data-boxtitle="Trompe basse, orientée précisément vers la falaise<br>Copyright <em>As Human Pattern</em>"
       href="{% static "echos2014/img/8.trompes/description/2.jpg" %}">
      <img src="{% static "echos2014/img/8.trompes/description/thumb/2.jpg" %}">
    </a>
    <a rel="trompes-description" data-boxtitle="Copyright <em>As Human Pattern</em>"
       href="{% static "echos2014/img/8.trompes/description/3.jpg" %}">
      <img src="{% static "echos2014/img/8.trompes/description/thumb/3.jpg" %}">
    </a>
    <a rel="trompes-description" href="{% static "echos2014/img/8.trompes/description/4.jpg" %}">
      <img src="{% static "echos2014/img/8.trompes/description/thumb/4.jpg" %}">
    </a>
    <a rel="trompes-description" data-boxtitle="Trompes medium et aiguë<br>Copyright <em>VDJ</em>"
       href="{% static "echos2014/img/8.trompes/description/5.jpg" %}">
      <img src="{% static "echos2014/img/8.trompes/description/thumb/5.jpg" %}">
    </a>
    <a rel="trompes-description" href="{% static "echos2014/img/8.trompes/description/6.jpg" %}">
      <img src="{% static "echos2014/img/8.trompes/description/thumb/6.jpg" %}">
    </a>
    <a rel="trompes-description" data-boxtitle="Trompes medium et aiguë<br>Copyright <em>VDJ</em>"
       href="{% static "echos2014/img/8.trompes/description/7.jpg" %}">
      <img src="{% static "echos2014/img/8.trompes/description/thumb/7.jpg" %}">
    </a>
    <a rel="trompes-description" data-boxtitle="Les trompes vues du ciel<br>Copyright <em>VDJ</em>"
       href="{% static "echos2014/img/8.trompes/description/8.jpg" %}">
      <img src="{% static "echos2014/img/8.trompes/description/thumb/8.jpg" %}">
    </a>
    <a rel="trompes-description"
       data-boxtitle="Vérification des 12 haut-parleurs de la trompe basse<br>Au total, les trompes contiennent
              <mark>18 amplificateurs</mark>, couvrant un spectre sonore allant de 16 à 15.000 hertz"
       href="{% static "echos2014/img/8.trompes/description/9.jpg" %}">
      <img src="{% static "echos2014/img/8.trompes/description/thumb/9.jpg" %}">
    </a>
    <a rel="trompes-description" href="{% static "echos2014/img/8.trompes/description/10.jpg" %}">
      <img src="{% static "echos2014/img/8.trompes/description/thumb/10.jpg" %}">
    </a>
    <a rel="trompes-description" href="{% static "echos2014/img/8.trompes/description/11.jpg" %}">
      <img src="{% static "echos2014/img/8.trompes/description/thumb/11.jpg" %}">
    </a>
  </div>

  <p class="sair">Cet ensemble de trompes a été créé dans les années 1990 par un groupe d’acousticiens, enthousiasmés
    par l’écho naturel du lieu. Après recherches et tests (puissance et direction), ils installèrent les trompes médium
    et aiguë en 1994, selon des plans de Michel Stievenart. Construites en bois, elles reposent sur un support mobile
    qui permet de modifier la direction du son. En 1997, le système fut complété par une gigantesque trompe basse en
    acier et béton voilé. Créée par Jacques Châtaigner, elle fut construite légèrement en contrebas, avec le concours
    des bénévoles de l’association <a target="_blank" href="http://villagesdesjeunes.org">Village des Jeunes</a>.</p>

  <div class="air break gallery box">
    <a rel="trompes-histoire" data-boxtitle="Ossature de la trompe basse<br>Copyright <em>VDJ</em>"
       href="{% static "echos2014/img/8.trompes/historique/1.jpg" %}">
      <img src="{% static "echos2014/img/8.trompes/historique/thumb/1.jpg" %}">
    </a>
    <a rel="trompes-histoire" data-boxtitle="Construction de la trompe basse<br>Copyright <em>VDJ</em>"
       href="{% static "echos2014/img/8.trompes/historique/2.jpg" %}">
      <img src="{% static "echos2014/img/8.trompes/historique/thumb/2.jpg" %}">
    </a>
    <a rel="trompes-histoire" data-boxtitle="Construction de la trompe basse<br>Copyright <em>VDJ</em>"
       href="{% static "echos2014/img/8.trompes/historique/3.jpg" %}">
      <img src="{% static "echos2014/img/8.trompes/historique/thumb/3.jpg" %}">
    </a>
    <a rel="trompes-histoire" data-boxtitle="Mise en place des trompes medium et aiguë<br>Copyright <em>VDJ</em>"
       href="{% static "echos2014/img/8.trompes/historique/4.jpg" %}">
      <img src="{% static "echos2014/img/8.trompes/historique/thumb/4.jpg" %}">
    </a>
    <a rel="trompes-histoire" data-boxtitle="Mise en place de des trompes medium et aiguë<br>Copyright <em>VDJ</em>"
       href="{% static "echos2014/img/8.trompes/historique/5.jpg" %}">
      <img src="{% static "echos2014/img/8.trompes/historique/thumb/5.jpg" %}">
    </a>
    <a rel="trompes-histoire" data-boxtitle="Mise en place de des trompes medium et aiguë<br>Copyright <em>VDJ</em>"
       href="{% static "echos2014/img/8.trompes/historique/6.jpg" %}">
      <img src="{% static "echos2014/img/8.trompes/historique/thumb/6.jpg" %}">
    </a>
  </div>
{% endblock %}
