{% extends "echos2013/layout.html" %}
{% load static %}
{% load tags %}

{% block content %}
    <h2 xmlns="http://www.w3.org/1999/html">Se loger</h2>
    <p>La vallée offre aux visiteurs un grand espace sauvage <mark>où vous pourrez installer
        votre campement librement</mark> (prévoir tentes, sacs de couchage et vêtements chauds).
        Des sanitaires (douches et toilettes) seront à votre disposition à la Ferme du Faï.
        Le camping et les sanitaires sont gratuits pour tous les spectateurs.</p><br>
    <p>La Ferme du Faï propose des nuits en auberge dans la limite des places disponible.
        Réservation obligatoire au 04 92 58 07 07.</p><br>
    <p>Enfin, des hôtels et chambres d’hôtes sont disponibles aux alentours du village du Saix.<br>
        Office de tourisme de Veynes : 04 92 57 27 43 -
        <a href="mailto:contact@tourisme-veynois.com">contact@tourisme-veynois.com</a></p>

    <h2 class="bigAir">Se restaurer</h2>
    <p>Nous vous proposons sur place :</p><br>
    <p class="sbreak">
        <mark>Des pizzas au feu de bois</mark> le soir de l’événement<br>
        <mark>Des bières blondes et ambrées</mark> de <a target="_blank" href="http://www.brasserie-alphand.com/">la brasserie Alphand</a> en pression<br>
        <mark>Du vin et des softs</mark><br>
        <mark>Un petit déjeuner</mark> le lendemain matin<br>
    </p>
{% endblock %}