{% load tags %}

<nav class="caviar">
    <ul id="mainList">
        <li class="echos">
            <img class="vertLine" src="{{ STATIC_URL }}img/layout/vertLine.jpg" />
            <ul class="menuItem">
                <li class="{% active request "^/echos/pres" %}">
                    <a href="/echos/presentation">Présentation</a>
                </li>
                <li class="{% active request "^/echos/prog" %}">
                    <a href="/echos/programmation">Programmation</a>
                </li>
            </ul>
            <div class="header caps {% active request "^/echos" %}">échos</div>
        </li>
        <li class="lieu">
            <img class="vertLine" src="{{ STATIC_URL }}img/layout/vertLine.jpg" />
            <ul class="menuItem">
                <li>
                    <a href="/lieu/ferme">La Ferme du Faï</a>
                </li>
                <li>
                    <a href="/lieu/trompes">Le système acoustique</a>
                </li>
            </ul>
            <div class="header caps {% active request "^/echos" %}">le lieu</div>
        </li>
        <li class="mod">
            <img class="vertLine" src="{{ STATIC_URL }}img/layout/vertLine.jpg" />
            <ul class="menuItem">
                <li class="{% active request "^/echos/res" %}">
                    <a href="/modalites/acces">Comment venir ?</a>
                </li>
                <li>
                    <a href="/modalites/zzz">Se loger / Se restaurer</a>
                </li>
            </ul>
            <div class="header caps {% active request "^/echos" %}">modalités</div>
        </li>
        <li class="dome">
            <a href="/dome"><div class="header caps {% active request "^/dome" %}">dôme</div></a>
        </li>
        <li class="contact">
            <a href="/contact"><div class="header caps {% active request "^/contact" %}">contact</div></a>
        </li>
    </ul>
</nav>
