{% load tags %}

<nav class="caviar rightCol">
    <ul id="mainList">
        <li class="echos">
            <img class="vertLine" src="{{ STATIC_URL }}2015/img/layout/line.png"/>
            <ul class="menuItem">
                <li class="{% active request "^/echos/pres" %}">
                    <a href="/echos/presentation">{% if lang == "fr" %}Présentation{% else %}Introduction{% endif %}</a>
                </li>
                <li class="{% active request "^/echos/prog" %}">
                    <a href="/echos/programmation">{% if lang == "fr" %}Programmation{% else %}Programs{% endif %}</a>
                </li>
                <li class="{% active request "^/echos/res" %}">
                    <a href="/echos/reservation">{% if lang == "fr" %}Préventes{% else %}Tickets{% endif %}</a>
                </li>
            </ul>
            <div class="header {% active request "^/echos" %}">échos</div>
        </li>
        <li class="lieu">
            <img class="vertLine" src="{{ STATIC_URL }}2015/img/layout/line.png" />
            <ul class="menuItem">
                <li>
                    <a href="/lieu/ferme">{% if lang == "fr" %}La ferme du Faï{% else %}Le Faï farm{% endif %}</a>
                </li>
                <li>
                    <a href="/lieu/trompes">{% if lang == "fr" %}Le système acoustique{% else %}The acoustic system{% endif %}</a>
                </li>
            </ul>
            <div class="header {% active request "^/echos" %}">{% if lang == "fr" %}le lieu{% else %}the place{% endif %}</div>
        </li>
        <li class="mod">
            <img class="vertLine" src="{{ STATIC_URL }}2015/img/layout/line.png" />
            <ul class="menuItem">
                <li class="{% active request "^/echos/res" %}">
                    <a href="/modalites/acces">{% if lang == "fr" %}Comment venir ?{% else %}Coming to échos{% endif %}</a>
                </li>
                <li>
                    <a href="/modalites/zzz">{% if lang == "fr" %}Se loger / Se restaurer{% else %}Sleep / Eat{% endif %}</a>
                </li>
            </ul>
            <div class="header {% active request "^/echos" %}">{% if lang == "fr" %}modalités{% else %}details{% endif %}</div>
        </li>
        <li class="dome">
            <a href="/dome"><div class="header {% active request "^/dome" %}">dôme</div></a>
        </li>
        <li class="contact">
            <a href="/contact"><div class="header {% active request "^/contact" %}">contact</div></a>
        </li>
    </ul>

    <div class="lang">
      <a href="{% subdomain request 'fr' %}{{ request.META.PATH_INFO }}">FR</a> –
      <a href="{% subdomain request 'en' %}{{ request.META.PATH_INFO }}">EN</a>
    </div>
</nav>
