<form class="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="76G9A59UJREGE">
        <input type="hidden" name="on0" value="TARIFS"><label for="os0">TARIF</label>
    <select id="os0" name="os0">
        <option value="COSTANZA">COSTANZA €7,00 EUR</option>
        <option value="SAIX ADDICT">SAIX ADDICT €10,00 EUR</option>
        <option value="KRAMER">KRAMER €15,00 EUR</option>
        <option value="FLANGER HOAX">FLANGER HOAX €25,00 EUR</option>
        <option value="BIG V">BIG V €50,00 EUR</option>
    </select>
    <input type="hidden" name="currency_code" value="EUR">
    <input class="valign" type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - la solution de paiement en ligne la plus simple et la plus sécurisée !">
    <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
</form>

{#<p class="caps red tcenter">#}
{#    PAIEMENT EN LIGNE A VENIR#}
{#</p>#}

<p class="air tcenter"><em><mark>Important</mark> : après votre paiement, vous n’avez aucun justificatif à imprimer.
    Il vous suffira de vous présenter à l’entrée le jour du concert avec les nom et prénom utilisés
    lors du paiement en ligne.</em></p><br>