$bg_links: white;
$bg_encart: white;

* {
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Lucida Console", monospace, sans-serif;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

#curtain {
  z-index: 36;
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  overflow: hidden;

  .loading {
    position: fixed;
    width: 5.5%;
    bottom: 6%;
    left: 91.5%;

    &.spin {
      -webkit-animation: spin 4s linear infinite;
      -moz-animation: spin 4s linear infinite;
      animation: spin 4s linear infinite;
    }

    &.out {
      -webkit-animation-play-state: paused;
      animation-play-state: paused;
    }

    @-moz-keyframes spin {
      100% {
        -moz-transform: rotate(360deg);
      }
    }
    @-webkit-keyframes spin {
      100% {
        -webkit-transform: rotate(360deg);
      }
    }
    @keyframes spin {
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    @-moz-keyframes out {
      100% {
        -moz-transform: translate(420);
      }
    }
    @-webkit-keyframes out {
      100% {
        -webkit-transform: translate(420);
      }
    }
    @keyframes out {
      100% {
        -webkit-transform: translate(420);
        transform: translate(420);
      }
    }
  }
}

.debug {
  display: none;
  //display: block;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

body {
  width: 100%;
  height: 100%;

  & > section {
    display: inline-block;
    vertical-align: top;
  }
}

.fr, .en {
  visibility: hidden;
  &.active {
    visibility: visible;
  }
}

section#content {
  #options {
    font-size: 0.7em;
    position: fixed;
    top: 5%;
    left: 5%;

    input {
      text-align: right;
      height: 25px;
      width: 120px;
    }
  }

  position: relative;
  width: 55%;
  height: 100%;
  overflow: hidden;

  .interactive {
    display: none;
    &.on {
      display: block;
    }
  }
  * {
    z-index: 0;
  }
  #text {
    z-index: -1;
  }

  .title {
    position: absolute;
    width: 65%;
    top: 19%;
    left: 17.5%;

    &.en {
      width: 51.131578947%;
    }
  }
  #encart {
    position: absolute;
    width: 60%;
    padding: 24px 30px;
    top: 16%;
    left: 11%;
    background: $bg_encart;

    a {
      color: #525252;
      &:hover {
        color: black;
        text-decoration: underline;
      }
    }
  }
  .trompe3d {
    position: absolute;
    width: 25%;
    top: 25%;
    left: 18%;
  }
  .ferme { // chèvre seguin
    position: absolute;
    width: 36%;
    top: 20%;
    left: 12%;
  }
  ul#submenu {
    position: absolute;
    left: 58%;
    top: 8%;
    list-style: none;
    li {
      padding: 5px 8px;
      font-size: 1.5em;
      a {
        padding: 5px 8px;
        &:hover, &.interactive.on {
          background: $bg_links;
        }
      }
      &.interactive {
        display: block;
      }
      &.fix {
        background: $bg_links;
      }
    }
  }
  #text {
    width: 100%;
    position: absolute;
    color: #737373;
    margin: 0;
    padding: 0;
  }
}

section#menu {
  width: 45%;
  & > * {
    display: block;
    width: 100%;
  }

  #copyright {
    position: relative;
    font-weight: bold;
    height: 2.5vh;

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 5px;
      margin: auto;

      height: 100%;
      padding: 0.25vh;
    }
  }
  #map {
    position: relative;
    width: 100%;
    height: 82vh;

    img {
      position: absolute;
    }

    #lang_en {
      cursor: pointer;
      width: 5%;
      left: 4%;
      top: 3%;
    }
    .idash {
      width: 3%;
      left: 4.8%;
      top: 8%;
    }
    #lang_fr {
      cursor: pointer;
      width: 5%;
      left: 4%;
      top: 10.5%;

    }

    .interactive {
      opacity: 0;
      &.on {
        opacity: 1;
      }
    }

    .item {
      opacity: 0;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }

      &.echos {
        opacity: 1;
        top: 64.35643564%;
        right: 95.25065964%;
        width: 26.97368421%;
      }
      &.acces {
        top: 79.85074626%;
        left: 11.87335092%;
        width: 22.23684210%;
        &.en {
          top: 80.0995024875%;
          left: 8.6842105263%;
          width: 36.5789473684%;
        }
      }
      &.ferme {
        top: 27.61194029%;
        left: 51.45118733%;
        width: 23.8157894736%;
        &.en {
          top: 27.81194029%;
          left: 51.25118733%;
          width: 23.8157894736%;
        }
      }
      &.infos {
        top: 32.08955223%;
        left: 3.69393139%;
        width: 48.5526315789%;
        &.en {
          top: 31.34328358%;
          left: 6.84210526%;
          width: 23.94736842%;
        }
      }
      &.prog {
        top: 75.37313432%;
        left: 47.22955145%;
        width: 48.5526315789%;
        &.en {
          top: 74.6268656716%;
          left: 48.9473684210%;
          width: 22.7631578947%;
        }
      }
      &.trompes {
        top: 38.05970149%;
        left: 63.85224274%;
        width: 33.1578947368%;
        &.en {
          top: 37.5621890547%;
          left: 63.6842105263%;
          width: 27.3684210526%;
        }
      }
    }
  }
  #bottom {
    position: relative;
    width: 100%;
    height: 15.5%;
    text-align: center;
    a {
      cursor: pointer;
    }

    #row0 {
      a {
        position: absolute;
        display: block;
        img {
          width: 100%;
        }
      }

      .i0 { // réserver
        &.en {
          width: 15.2631578947%;
          top: 24%;
          left: 20%;
        }
        &.fr {
          width: 31.2631578947%;
          top: 19%;
          left: 8%;
        }
      }
      .i1 { // pdf récap
        &.en {
          width: 11.0526315789%;
          top: 17.5%;
          left: 51.8%;
        }
        &.fr {
          width: 18.0526315789%;
          top: 17%;
          left: 48%;
        }
      }
      .i2 {
        width: 10.9210526315%;
        left: 76.5%;
        top: 15%;
      }
    }

    #row1 {
      img, a img, a {
        position: absolute;
        display: block;
      }

      .i0 {
        width: 18.4210526315%;
        top: 69%;
        left: 4%;
        img {
          width: 100%;
        }
      }
      .i1 {
        width: 27.8947368421%;
        top: 68.5%;
        left: 38%;
        img {
          width: 100%;
        }
      }
      .i2 {  // dash
        width: 1.7105263157%;
        top: 76%;
        left: 68%;
      }
      .i3 {
        width: 9.2105263157%;
        top: 69%;
        left: 72%;
        img {
          width: 100%;
        }
      }
      .i4 { // dash
        width: 1.7105263157%;
        top: 76%;
        left: 83.3%;
      }
      .i5 {
        width: 9.2105263157%;
        top: 68.5%;
        left: 87%;
        img {
          width: 100%;
        }
      }
    }

    //.row {
    //  vertical-align: middle;
    //  display: block;
    //  width: 100%;
    //  & > * {
    //    display: inline-block;
    //  }
    //}
    //
    //.idash {
    //  max-width: 12px;
    //}
  }
}
